/* @import "./node_modules/tailwindcss/base";
@import "./node_modules/tailwindcss/components";
@import "./node_modules/tailwindcss/utilities"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Normal Native CSS
SCSS
inline CSS
Component libraries- Material UI,Base UI , Ant,Chakra,Styled components
Tailwind css framework 


PROS OF TAILWIND:
Easy to use
No duplicate css
faster development
easy to debug
more control over things
can customize UI as required

CONS
very few ppl know tailwind -initial learning will take time
very big classname-looks weird-readablity is less
*/
/*
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}
.logo {
  width: 80px;
}

.cards {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.cards > img {
  width: 100%;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-cards {
  width: 200px;
  height: 200px;
  background: lightgray;
  margin: 20px;
}
.menu {
  display: flex;
} */
